
<app-header></app-header>
    <style>
        input[type=text], select {
          width: 50%;
          padding: 12px 20px;
          margin: 8px 0px 0px 0px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        
        input[type=submit] {
          width: 10%;
          
          background-color: red;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: blue;
        }
        p {
                    text-align: center;
                }
        h1{
        text-align: center;
        }
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 50px;
        }
        </style>
        
        <body>
        <div>
          <form [formGroup]="billForm" (ngSubmit)="recharge()">
           <h1><b>RECHARGE</b></h1>
          <br><br>
            <label for="PhoneNumber">MOBILE NUMBER</label><br>
            <input type="text" name="phno" class="form-control" [(ngModel)]=Mobileno required  formControlName="Mobileno1"><br><br>
        
            <label for="plan">AMOUNT </label><br>
            <input class="name" type="text" class="form-control" placeholder="Enter amount from the plan" name="plan" [(ngModel)]=amount  formControlName="plan"  required disabled>
              <br><br>
            
              
            <label for="plan">TYPE </label><br>
            <input class="name" type="text" class="form-control" placeholder="Enter type of tariff plan" name="description" [(ngModel)]=tariffplan formControlName="description"  required >
            <br>
            <br>
            <br>
            <br>
        <p>  
            <input type="submit" value="Pay" >
        </p>  
          </form>
        </div>
        </body>
  <app-footer></app-footer>