<!--Header Component-->
<app-menu></app-menu>

<!--links for access of external files-->
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src='https://kit.fontawesome.com/a076d05399.js'></script>

<!--start of inline css-->
 <style>
   .a{
     font-size: 19px;
     line-height: 1.375em;
     color: #3d3838;
     font-weight: 400;
     margin-bottom: 30px;
     font-family: "Charcoal";
   }
   .jumbotron {
     background-color: #1258F2;
     color: #fff;
     padding: 100px 25px;
     font-family: Montserrat, sans-serif;
     letter-spacing: 2px;
   }
   body {
     font: 400 15px Lato, sans-serif;
     line-height: 1.8;
     color: #818181;
   }
   h2 {
     font-size: 24px;
     text-transform: uppercase;
     color: #303030;
     font-weight: 600;
     margin-bottom: 30px;
   }
   h4 {
     font-size: 25px;
     line-height: 1.375em;
     color: #303030;
     font-weight: 400;
     margin-bottom: 30px;
     font-family: "Charcoal";
   }  
   .jumbotron {
     background-color: #8fcfd1;
     color: #fff;
     padding: 100px 25px;
     font-family: Montserrat, sans-serif;
   }
   .container-fluid {
     padding: 60px 50px;
   }
 </style>
<!--end of inline css-->

        <!--Displaying the company name-->
        <div class="jumbotron text-center">
        <h1>AIR - FONE </h1> 
        <p>CONNECTING PEOPLE</p> 
        </div>

     <!-- Wrapper for carousel -->
    <div class='col-sm-12'>
      <carousel class="text-center">
          <slide>
            <img class="img-main-carousel" src="assets/images/Air-Fone 2.png" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/Air-Fone 6.png" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/Air-Fone 3.png" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
    </div>
    <!-- end of the carousel -->

<!--Displaying gaap between the containers-->
 <br><br><br>


 <!--Container for displaying the contents-->
 <div id="about" class="container-fluid">
   <div class="row">
     <div class="col-sm-8">
       <h2 style="text-align: center;">ABOUT US</h2><br>
       <h4>We have established our standard of mobile network operating for the past 10 years. Air-Fone is one of the leading mobile network operator that connects people throughout India.</h4><br>
       <p class="a">We expand our horizons by introducing new innovative technologies and plans over the decade. Our motto is reach every corner of India and make technology and communication accessible and affordable by every people. Air-Fone is known for its customer service over the years.</p>
     </div>
     <div class="col-sm-4">
       <img class="img-main-carousel" src="assets/images/hme.png" alt="first slide" style="display: block;">
     </div>
   </div>
 </div>
<!--End of the container class for contents-->

<!--Displaying gaap between the containers-->
 <br><br><br>

<!--Dislaying of the key features of the company-->
 <div>
    <!--Container for Best Broadband-->
    <div class="w3-row-padding w3-center w3-margin-top">
     <div class="w3-third">
       <div class="w3-card w3-container" style="min-height:460px">
       <h3>Best Broad-Band</h3><br>
       <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px; color:#8fcfd1"></i>
       <p>Optic fibre cables</p>
       <p>Upto 100 Mpbs</p>
       <p>Relaiblity</p>
       <p>Super fast connections</p>
       </div>
     </div>

     <!--Container for Reliable Customer support-->
     <div class="w3-third">
       <div class="w3-card w3-container" style="min-height:460px">
       <h3>Reliable Customer Support</h3><br>
       <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px;color:#8fcfd1"></i>
       <p>Track problem</p>
       <p>Interactive website</p>
       <p>FAQ's</p>
       <p>Feedback</p>
       </div>
     </div>
     
      <!--Container for Building trust-->
     <div class="w3-third">
       <div class="w3-card w3-container" style="min-height:460px">
       <h3>Buliding Trust</h3><br>
       <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px; color:#8fcfd1"></i>
       <p>We value our customer</p>
       <p>Top service Provider</p>
       <p>Happy customer</p>
       <p>Wide range of plans and offers</p>
       </div>
     </div>
     </div>
</div>
<!--End of the key features container-->

<!--Footer Component-->
<app-footer></app-footer>
