.primary-color{
    background-color: #8fcfd1;
}

.navbar-brand{
    background-color: #bdeaf7;
    padding: 10px;
    border-radius: 15px;
}

.img_class
{
    width: 50px;
    height: 40px;
}
.copy
{
    text-align: center;
    margin-left: 17%;
}
.contact
{
    margin-left:27%;
}