

  <app-header></app-header>
<body>
 
  
  <div class='col-sm-12'>
    <div class="how-section1">
       <div class="row">
           <div class="col-md-6 how-img">
               <img src="assets/images/plan1.png" alt="" style="display: block; width: 50%;"/>
           </div>
           <div class="col-md-6">
               <h4>No.1 Pre-Paid Network</h4><br>
                           <h4 class="subheading">Enjoy peace of mind with high-grade security. We prevent unwanted participants from joining meetings and protect end-user privacy. We are hosted in India and offer 24x7 local support.</h4><br>
           <p class="text-muted">From being a telecom company with selling price plans to becoming a key part of the industry disruption, from being a service provider to being at the center of the ecosystem of digital services, Air-Fone has worked to overhaul the digital space and drive it ahead.
               We have been fortunate to have understood very early that the future of digital spaces and telecom will be interdependent.</p>
           </div>
       </div>
       <div><span><br><br><br></span></div>
       <div class="row">
           <div class="col-md-6">
               <h4>Exclusive Post-paid</h4><br>
                           <h4 class="subheading">Experience an intuitive interface with easy content sharing. Join meetings with one touch from anywhere, without any need to download software. Access to real-time meeting analytics and live meeting controls. Convenient dial-in options from Air-Fone.</h4><br>
                           <p class="text-muted"> Our 3G and 4G services are spread across the country offering high-speed internet access and a host of innovative services like Mobile TV, video calls, live-streaming videos, gaming, buffer-less HD video streaming and multi-tasking capabilities to our customers. Our national long distance infrastructure provides a pan-India reach with 273,600 Rkms of optical fiber.</p>
           </div>
           <div class="col-md-6 how-img">
               <img src="assets/images/plan2.png"  alt=""/>
           </div>
       </div>
       <div><br><br><br></div>
       <div class="row">
           <div class="col-md-6 how-img">
                <img src="assets/images/plan3.png"  alt=""/>
           </div>
           <div class="col-md-6">
               <h4>Best BoradBand</h4><br>
                           <h4 class="subheading">Step into the future of unlimited broadband plans with Air-Fone fibernet technology. Experience the high-speed internet on our existing Fiber broadband connection across multiple devices</h4><br>
                           <p class="text-muted">Send and receive files. Deliver digital assets in a secure environment.
                               Share feedback in real time. Use GetLance Messages to communicate via text, chat, or video.
                               Use our mobile app. Many features can be accessed on your mobile phone when on the go.</p>
           </div>
       </div>
       <div><br><br><br></div>
       <div class="row">
           <div class="col-md-6">
               <h4>Wide Range of Options</h4><br>
                           <h4 class="subheading">Providing best Customer service</h4><br>
                           <p class="text-muted">From being a telecom company with selling price plans to becoming a key part of the industry disruption, from being a service provider to being at the center of the ecosystem of digital services, Air-Fone has worked to overhaul the digital space and drive it ahead.
                               We have been fortunate to have understood very early that the future of digital spaces and telecom will be interdependent.</p>
           </div>
           <div class="col-md-6 how-img">
               <img src="assets/images/plan4.png" alt=""/>
           </div>
       </div>
   </div> 
   </div>
</body>

<app-footer></app-footer>
