<app-menu></app-menu>

<div class="container">
    <div class="signin-content">
    <div class="signin-form">
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <h1>Login</h1>
            <br>
            <br>
            <label for="Mobile_number">Mobile Number:</label>
            <input type="text" [(ngModel)]="mobnumber" formControlName="m_number" placeholder="Enter Mobile Number"/>
            <br>
            <br>
            <span *ngIf="!loginform.get('m_number').value
            && (loginform.get('m_number').touched || loginform.get('m_number').dirty)">
            Mobile Number is Required</span>
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" [(ngModel)]="password" formControlName="u_password" placeholder="Password"/>
            <br><br>
            <div class="forget-password">
                <a routerLink="#" routerLinkActive="active">Forgot Password?</a>
            </div>
            <span *ngIf="!loginform.get('u_password').value
            && (loginform.get('u_password').touched || loginform.get('u_password').dirty)">
            Enter Password</span>
        </div>
        
       
        <div class="form-group form-button">
            <input type="submit" class="form-submit" value="Submit">
        </div>
        
    </form>
    </div>
</div>
</div>
