<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <a class="navbar-brand" href="#"><img src="assets\images\insta.png" class='img_class'></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" href="#"><img src="assets\images\fb.png" class="img_class"></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" href="#"><img src="assets\images\twitter.png" class="img_class"></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="copy">
  <p class="">&#169; Copyright 2020: Airfone Telecom. All reserved rights.</p>
  </div>
  <label class="contact">airfone@air.com</label>
</nav>