<app-header></app-header>
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <br>
                    <br><br>

                    <div class="signin-form">
                        <h2 class="form-title">Give us Your valuable Feedback</h2>
                        
                        <form method="POST" action="go_organic_contact.html" class="register-form" id="login-form">
                            
                            <div class="form-group">
                                <label for="your_name">Name</label>
                                <input type="text" name="U_USERNAME" id="First_name" placeholder="First"/>
                                <input type="text" name="L_USERNAME" id="Last_name" placeholder="Last"/>
                            </div>
                            <br>
                           
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Enter your email"/>
                            </div>

                            <div class="form-group">
                                <label for="satisfy">How satisfied were you with*</label>
                            </div>

                            <div class="form-group">
                                <label for="email">Rate our service*</label>
                                <input type="radio" name="Excellent" value="excellent">
                                <label for="excellent">Excellent🤩</label>
                                <input type="radio" name="Good" value="Good">
                                <label for="Good">Good😀</label>
                                <input type="radio" name="Average" value="Average">
                                <label for="Average">Average😟</label>
                                <input type="radio" name="Bad" value="Bad">
                                <label for="Bad">Bad☹️</label>
                            </div>
                            <div class="form-group">
                                <label for="quote">Feel free to give us other comments or suggestions:</label>
                            </div>
                            <div class="form-group">
                                <textarea name="Suggestions" id="" cols="77" rows="10" placeholder="Yours comments are so valuable to us😍"></textarea>

                            </div>
                            <br>
                            <div class="form-group form-button">
                                <input type="submit" name="feedback" id="feedback" class="form-submit" value="Sumbit Feedback"/>
                            </div>
                        </form>
                     
                </div>
            </div>
        </div>
        </section>
    </div>
<app-footer></app-footer>