<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <div class="container-fluid">
  <a class="navbar-brand" href="#"><i class="fa fa-mobile-phone" style="font-size:24px;margin-right:10px;"></i>AirFone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav"> 
     <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right"> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/AdminLogin" routerLinkActive="active"><div>ADMIN </div></a>
      </li> 
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/Register" routerLinkActive="active"><div>REGISTER</div></a>
      </li>
      <li class="nav-item other">
        <a class="nav-link" routerLink="/Login" routerLinkActive="active"><div>LOGIN</div></a>
      </li>
    </ul>  
  </div>
</div>
  </div>
</nav>

  

