<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<app-header></app-header>
  <body>
    <div>   
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                         <a class="nav-link" routerLink="/Plans">ALL PLANS<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item other">
                         <a class="nav-link" routerLink="/Plans/Prepaid" href="#">PREPAID</a>
                     </li>
                     <li class="nav-item other">
                         <a class="nav-link" routerLink="/Plans/Postpaid" href="#">POSTPAID</a>
                     </li>
                     <li class="nav-item other">
                         <a class="nav-link" routerLink="Broadband" href="#">BROADBAND</a>
                     </li>
                 </ul>
             </div>
         </nav>
     </div>
 <br><br><br>
<div class="container">
   <div class="card-deck">
            <div class="card bg-info">
            <div class="card-body text-center">
                <p class="card-text" ><b>BB001</b></p>
                <p class="card-text">INTERNET SPEED: 150Mbps</p>
                <p class="card-text">MONTHLY DATA: 1000GB</p>
                <p class="card-text">POST FPU SPEED: 1Mbps</p>
                <p class="card-text">At ₹1075</p>
                <a href="#" routerLink="/Bill"class="btn btn-light">BUY PLAN</a>
            </div>
            </div>
            <div class="card">
            <div class="card-body text-center">
                <p class="card-text"><b>BB002</b></p>
                <p class="card-text">INTERNET SPEED: 350Mbps</p>
                <p class="card-text">MONTHLY DATA: 2000GB</p>
                <p class="card-text">POST FPU SPEED: 2Mbps</p>
                <p class="card-text">At ₹1999</p>
                <a href="#" class="btn btn-info">BUY PLAN</a>
            </div>
            </div>
            <div class="card bg-info">
            <div class="card-body text-center">
                <p class="card-text"><b>BB003</b></p>
                <p class="card-text">INTERNET SPEED: 1Gbps</p>
                <p class="card-text">MONTHLY DATA: 3000GB</p>
                <p class="card-text">POST FPU SPEED: 2Mbps</p>
                <p class="card-text">At ₹2999</p>
                <a href="#" class="btn btn-light">BUY PLAN</a>
            </div>
            </div>
         </div>
      <br><br>
      <div class="card-deck">
        <div class="card">
        <div class="card-body text-center">
            <p class="card-text"><b>BB004</b></p>
            <p class="card-text">INTERNET SPEED: 150Mbps</p>
            <p class="card-text">MONTHLY DATA: 500GB</p>
            <p class="card-text">POST FPU SPEED: 1Mbps</p>
            <p class="card-text">At ₹777</p>
            <a href="#" class="btn btn-info">BUY PLAN</a>
        </div>
        </div>
        <div class="card bg-info">
        <div class="card-body text-center">
            <p class="card-text"><b>BB005</b></p>
            <p class="card-text">INTERNET SPEED: 350Mbps</p>
            <p class="card-text">MONTHLY DATA: 1000GB</p>
            <p class="card-text">POST FPU SPEED: 2Mbps</p>
            <p class="card-text">At ₹1055</p>
            <a href="#" class="btn btn-light">BUY PLAN</a>
        </div>
        </div>
        <div class="card">
        <div class="card-body text-center">
            <p class="card-text"><b>BB006</b></p>
            <p class="card-text">INTERNET SPEED: 2Gbps</p>
            <p class="card-text">MONTHLY DATA: 5000GB</p>
            <p class="card-text">POST FPU SPEED: 2Mbps</p>
            <p class="card-text">At ₹3999</p>
            <a href="#" class="btn btn-info">BUY PLAN</a>
        </div>
        </div>
  </div>
  <br><br><br>
</div>
</body>
<app-footer></app-footer>