
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <app-header></app-header>
  <body>
    <div>   
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item active">
                       <a class="nav-link" routerLink="/Plans">ALL PLANS<span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item other">
                       <a class="nav-link" routerLink="/Plans/Prepaid" href="#">PREPAID</a>
                   </li>
                   <li class="nav-item other">
                       <a class="nav-link" routerLink="/Plans/Postpaid" href="#">POSTPAID</a>
                   </li>
                   <li class="nav-item other">
                       <a class="nav-link" routerLink="/Plans/Broadband" href="#">BROADBAND</a>
                   </li>
               </ul>
           </div>
       </nav>
   </div>
 <br><br><br>
<div class="container">
   <div class="card-deck">
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text"><b>PREPAID-001</b></p>
        <p class="card-text"><b>PLAN : ₹19</b></p>
        <p class="card-text">VALIDITY : 2days</p>
        <p class="card-text">BENEFITS : 200MB</p>
        <p class="card-text">CALLING :UNLIMITED</p>
        <p class="card-text">SMS : NIL</p>
         <a href="#" class="btn btn-light">BUY PLAN</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text"><b>PREPAID-002</b></p>
        <p class="card-text"><b>PLAN : ₹99</b></p>
        <p class="card-text">VALIDITY : 18days</p>
        <p class="card-text">BENEFITS : 1GB</p>
        <p class="card-text">CALLING : UNLIMITED</p>
        <p class="card-text">SMS : 100</p>
        <a href="#" class="btn btn-info">BUY PLAN</a>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text"><b>PREPAID-003</b></p>
        <p class="card-text"><b>PLAN : ₹129</b></p>
        <p class="card-text">VALIDITY : 24days</p>
        <p class="card-text">BENEFITS : 1GB</p>
        <p class="card-text">CALLING : UNLIMITED</p>
        <p class="card-text">SMS : 300</p>
        <a href="#" class="btn btn-light">BUY PLAN</a>
      </div>
    </div>
    <div class="card ">
      <div class="card-body text-center">
        <p class="card-text"><b>PREPAID-004</b></p>
        <p class="card-text"><b>PLAN : ₹149</b></p>
        <p class="card-text">VALIDITY : 28days</p>
        <p class="card-text">BENEFITS : 2GB</p>
        <p class="card-text">CALLING : UNLIMITED</p>
        <p class="card-text">SMS : 300</p>
        <a href="#" class="btn btn-info">BUY PLAN</a>
      </div>
    </div>  
  </div>
  <br><br>
  <div class="card-deck">
    <div class="card">
        <div class="card-body text-center">
            <p class="card-text"><b>PREPAID-005</b></p>
            <p class="card-text"><b>PLAN : ₹149</b></p>
            <p class="card-text">VALIDITY : 28days</p>
            <p class="card-text">BENEFITS : 2GB</p>
            <p class="card-text">CALLING : UNLIMITED</p>
            <p class="card-text">SMS : 300</p>
             <a href="#" class="btn btn-info">BUY PLAN</a>
          </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
            <p class="card-text"><b>PREPAID-006</b></p>
            <p class="card-text"><b>PLAN : ₹199</b></p>
            <p class="card-text">VALIDITY : 24days</p>
            <p class="card-text">BENEFITS : 1GB/Day</p>
            <p class="card-text">CALLING : UNLIMITED</p>
            <p class="card-text">SMS : 100/day</p>
        <a href="#" class="btn btn-light">BUY PLAN</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text"><b>PREPAID-007</b></p>
        <p class="card-text"><b>PLAN : ₹219</b></p>
        <p class="card-text">VALIDITY : 28days</p>
        <p class="card-text">BENEFITS : 1GB/Day</p>
        <p class="card-text">CALLING : UNLIMITED</p>
        <p class="card-text">SMS : 100/day</p>
        <a href="#" class="btn btn-info">BUY PLAN</a>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text"><b>PREPAID-008</b></p>
        <p class="card-text"><b>PLAN : ₹249</b></p>
        <p class="card-text">VALIDITY : 28days</p>
        <p class="card-text">BENEFITS : 1GB/Day</p>
        <p class="card-text">CALLING : UNLIMITED</p>
        <p class="card-text">SMS : 100/Day</p>
        <a href="#" class="btn btn-light">BUY PLAN</a>
      </div>
    </div>  
  </div>
  <br><br>
  <div class="card-deck">
    <div class="card bg-info">
        <div class="card-body text-center">
          <p class="card-text"><b>PREPAID-009</b></p>
          <p class="card-text"><b>PLAN : ₹279</b></p>
          <p class="card-text">VALIDITY : 28days</p>
          <p class="card-text">BENEFITS : 1.5GB/Day</p>
          <p class="card-text">CALLING :UNLIMITED</p>
          <p class="card-text">SMS : 100/Day</p>
           <a href="#" class="btn btn-light">BUY PLAN</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text"><b>PREPAID-010</b></p>
          <p class="card-text"><b>PLAN : ₹298</b></p>
          <p class="card-text">VALIDITY : 28days</p>
          <p class="card-text">BENEFITS : 2GB/Day</p>
          <p class="card-text">CALLING : UNLIMITED</p>
          <p class="card-text">SMS : 100/Day</p>
          <a href="#" class="btn btn-info">BUY PLAN</a>
        </div>
      </div>
      <div class="card bg-info">
        <div class="card-body text-center">
          <p class="card-text"><b>PREPAID-011</b></p>
          <p class="card-text"><b>PLAN : ₹349</b></p>
          <p class="card-text">VALIDITY : 28days</p>
          <p class="card-text">BENEFITS : 2GB/Day</p>
          <p class="card-text">CALLING : UNLIMITED</p>
          <p class="card-text">SMS : 100/Day</p>
          <a href="#" class="btn btn-info">BUY PLAN</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text"><b>PREPAID-012</b></p>
          <p class="card-text"><b>PLAN : ₹379</b></p>
          <p class="card-text">VALIDITY : 84days</p>
          <p class="card-text">BENEFITS : 6GB</p>
          <p class="card-text">CALLING : UNLIMITED</p>
          <p class="card-text">SMS : 900</p>
          <a href="#" class="btn btn-info">BUY PLAN</a>
        </div>
      </div>  
    </div>
    <br><br>
  <div class="card-deck">
    <div class="card">
        <div class="card-body text-center">
          <p class="card-text"><b>PREPAID-013</b></p>
          <p class="card-text"><b>PLAN : ₹398</b></p>
          <p class="card-text">VALIDITY : 28days</p>
          <p class="card-text">BENEFITS : 3GB/Day</p>
          <p class="card-text">CALLING :UNLIMITED</p>
          <p class="card-text">SMS : 100/Day</p>
           <a href="#" class="btn btn-info">BUY PLAN</a>
        </div>
      </div>
      <div class="card bg-info">
        <div class="card-body text-center">
          <p class="card-text"><b>PREPAID-014</b></p>
          <p class="card-text"><b>PLAN : ₹399</b></p>
          <p class="card-text">VALIDITY : 56days</p>
          <p class="card-text">BENEFITS : 1.5GB/Day</p>
          <p class="card-text">CALLING : UNLIMITED</p>
          <p class="card-text">SMS : 100/Day</p>
          <a href="#" class="btn btn-light">BUY PLAN</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text"><b>PREPAID-015</b></p>
          <p class="card-text"><b>PLAN : ₹449</b></p>
          <p class="card-text">VALIDITY : 56days</p>
          <p class="card-text">BENEFITS : 2GB/Day</p>
          <p class="card-text">CALLING : UNLIMITED</p>
          <p class="card-text">SMS : 100/Day</p>
          <a href="#" class="btn btn-info">BUY PLAN</a>
        </div>
      </div>
      <div class="card bg-info">
        <div class="card-body text-center">
          <p class="card-text"><b>PREPAID-016</b></p>
          <p class="card-text"><b>PLAN : ₹558</b></p>
          <p class="card-text">VALIDITY : 56days</p>
          <p class="card-text">BENEFITS : 3GB/Day</p>
          <p class="card-text">CALLING : UNLIMITED</p>
          <p class="card-text">SMS : 100/Day</p>
          <a href="#" class="btn btn-light">BUY PLAN</a>
        </div>
      </div>  
    </div>
    <br><br><br>
</div>

</body>
<app-footer></app-footer>