body
{    
    background-image: url("../../../../src/assets/images/bg1.jpg");
    
}
.class1
{
    background-color: lightgray;
    padding: 50px;
    margin-left: 31%;
    margin-right: 34%;
}
table
{
    margin-left: 14%;
}
td
{
    margin-bottom: 10%;
}
h2
{
    text-align: center;
    font-size:50px;
}
button
{
    background-color: lightseagreen;
    padding: 9px;
    border-radius: 21%;
    border: outset;
}