<body>
    <div class="class1">
        <form>
            <h2>REGISTRATION</h2><br><br>
            <table>
                <tr>
                    <td><b>Name</b></td>&nbsp;&nbsp;
                    <td><input type="text" name="name" placeholder="Enter your name" [(ngModel)]="CName" required="required"></td>
                </tr>
                    <tr>
                    <td><span style="color:red">{{result}}</span></td>
                </tr><br>
                <tr>
                    <td><b>Date of birth</b></td>&nbsp;&nbsp;
                    <td><input type="date" name="DOB" [(ngModel)]="DOB" reuired="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result1}}</span></td>
                </tr><br>
                <tr>
                    <td><b>Email</b></td>&nbsp;&nbsp;
                    <td><input type="email" name="Email" placeholder="abc@gmail.com" [(ngModel)]="Email" required="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result2}}</span></td>
                </tr><br>
                <tr>
                    <td><b>Password</b></td>&nbsp;&nbsp;
                    <td><input type="password" name="Pwd" placeholder="abc@1298$!" [(ngModel)]="Pwd" required="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result3}}</span></td>
                </tr><br>
                <tr>
                    <td><b>Aadhar Number</b></td>&nbsp;&nbsp;
                    <td><input type="text" name="AadharNumber" [(ngModel)]="AadharNumber" placeholder="2222 2222 2222" pattern="^[2-9]{1}[0-9]{3}\\s[0-9]{4}\\s[0-9]{4}$" required="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result11}}</span></td>
                </tr><br>
                <tr>
                    <td><b>Occupation</b></td>&nbsp;&nbsp;
                    <td><input type="text" name="Occupatiom" placeholder="Enter your occupation" [(ngModel)]="Occupation" required="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result4}}</span></td>
                </tr><br>
                <tr>
                    <td><b>House Number</b></td>&nbsp;&nbsp;
                    <td><input type="text" name="HouseNo" placeholder="Enter house number" [(ngModel)]="HouseNo" required="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result5}}</span></td>
                </tr><br>
                <tr>
                    <td><b>Street</b></td>&nbsp;&nbsp;
                    <td><input type="text" name="Street" placeholder="Enter your street" [(ngModel)]="Street" required="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result6}}</span></td>
                </tr><br>
                <tr>
                    <td><b>City</b></td>&nbsp;&nbsp;
                    <td><input type="text" name="City" placeholder="Enter your city" [(ngModel)]="City" required="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result7}}</span></td>
                </tr><br>
                <tr>
                    <td><b>State</b></td>&nbsp;&nbsp;
                    <td><input type="text" name="State" placeholder="Enter your state name" [(ngModel)]="State" required="required"></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result8}}</span></td>
                </tr><br>
                <tr>
                    <td><b>Pincode</b></td>&nbsp;&nbsp;
                    <td><input type="text" name="pincode" placeholder="Enter your pincode" [(ngModel)]="pincode" required="required"/></td>
                </tr>
                <tr>
                    <td><span style="color:red">{{result9}}</span></td>
                </tr><br>
                <tr>
                    <td><b>Customer type</b></td>&nbsp;&nbsp;
                    <td><select name="selectedOption" [(ngModel)]="selectedOption">
                        <option disabled selected>select</option>
                        <option *ngFor="let o of options">
                           {{o.name}}
                        </option>
                     </select></td>
                    <!--<td><input type="text" name="Type_Cust" placeholder="prepaid/postpaid/broadband" [(ngModel)]="Type_Cust"></td>-->
                </tr><br>
                <tr>
                    <td colspan='2'><button value="submit" name="submit" (click)="register()"><b>Register</b></button></td>
                </tr><br>
            </table>
        </form>
    </div>
</body>
