
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<app-header></app-header>
<body>
  
  <div>   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                     <a class="nav-link" routerLink="/Plans">ALL PLANS<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item other">
                     <a class="nav-link" routerLink="/Plans/Prepaid" href="#">PREPAID</a>
                 </li>
                 <li class="nav-item other">
                     <a class="nav-link" routerLink="/Plans/Postpaid" href="#">POSTPAID</a>
                 </li>
                 <li class="nav-item other">
                     <a class="nav-link" routerLink="/Plans/Broadband" href="#">BROADBAND</a>
                 </li>
             </ul>
         </div>
     </nav>
 </div>
<br><br><br>
<div class="container">
   <div class="card-deck">
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text"><b>PO001</b></p>
        <p class="card-text">DATA : 125GB</p>
        <p class="card-text">VALIDITY: 365 DAYS</p>
        <p class="card-text">CALLING : UNLIMITED</p>
        <p class="card-text">SMS : UNLIMITED</p>
        <p class="card-text">At ₹749</p>
         <a href="#" class="btn btn-light">BUY PLAN</a>
      </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <p class="card-text"><b>PO002</b></p>
            <p class="card-text">DATA : 150GB</p>
            <p class="card-text">VALIDITY: 365 DAYS</p>
            <p class="card-text">CALLING : UNLIMITED</p>
            <p class="card-text">SMS : UNLIMITED</p>
            <p class="card-text">At ₹999</p>
             <a href="#" class="btn btn-info ">BUY PLAN</a>
          </div>
    </div>
    <div class="card bg-info">
        <div class="card-body text-center">
            <p class="card-text"><b>PO003</b></p>
            <p class="card-text">DATA : 200GB</p>
            <p class="card-text">VALIDITY: 365 DAYS</p>
            <p class="card-text">CALLING : UNLIMITED</p>
            <p class="card-text">SMS : UNLIMITED</p>
            <p class="card-text">At ₹1099</p>
             <a href="#" class="btn btn-light">BUY PLAN</a>
          </div>
    </div>
    <div class="card ">
      
        <div class="card-body text-center">
            <p class="card-text"><b>PO004</b></p>
            <p class="card-text">DATA : 50GB</p>
            <p class="card-text">VALIDITY: 30 DAYS</p>
            <p class="card-text">CALLING : 1000 MINUTES</p>
            <p class="card-text">SMS : UNLIMITED</p>
            <p class="card-text">At ₹210</p>
             <a href="#" class="btn btn-info">BUY PLAN</a>
          </div>
      </div>  
   </div>
  <br><br>
  <div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
		      	<p class="card-text"><b>PO005</b></p>
            <p class="card-text">DATA : 75GB</p>
            <p class="card-text">VALIDITY: 30 DAYS</p>
            <p class="card-text">CALLING : 1000 MINUTES</p>
            <p class="card-text">SMS : UNLIMITED</p>
            <p class="card-text">At ₹300</p>
            <a href="#" class="btn btn-info">BUY PLAN</a>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
			    <p class="card-text"><b>PO006</b></p>
			    <p class="card-text">DATA : 120GB</p>
            <p class="card-text">VALIDITY: 30 DAYS</p>
            <p class="card-text">CALLING : 1000 MINUTES</p>
            <p class="card-text">SMS : UNLIMITED</p>
            <p class="card-text">At ₹400</p>
            <a href="#" class="btn btn-light">BUY PLAN</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
			<p class="card-text"><b>PO007</b></p>
			<p class="card-text">DATA : 120GB</p>
            <p class="card-text">VALIDITY: 30 DAYS</p>
            <p class="card-text">CALLING : 1000 MINUTES</p>
            <p class="card-text">SMS : UNLIMITED</p>
            <p class="card-text">At ₹400</p>
            <a href="#" class="btn btn-info">BUY PLAN</a>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
			<p class="card-text"><b>PO008</b></p>
			<p class="card-text">DATA : 150GB</p>
            <p class="card-text">VALIDITY: 30 DAYS</p>
            <p class="card-text">CALLING : 1000 MINUTES</p>
            <p class="card-text">SMS : UNLIMITED</p>
            <p class="card-text">At ₹550</p>
            <a href="#" class="btn btn-light">BUY PLAN</a>
      </div>
    </div>  
  </div>
  <br><br><br>
</div>
</body>
<app-footer></app-footer>