<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">
      <a class="navbar-brand" href="#"><i class="fa fa-mobile-phone" style="font-size:24px;margin-right:10px;"></i>AirFone</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item other">
            <a class="nav-link" routerLink="/Plans" routerLinkActive="active"><div>PLANS</div></a>
          </li>
          <li class="nav-item other">
              <a class="nav-link" routerLink="/Bill" routerLinkActive="active"><div>BILLING</div></a>
          </li>
          <li class="nav-item other">
              <a class="nav-link" routerLink="/Help" routerLinkActive="active"><div>HELP</div></a>
          </li>
          <li class="nav-item other">
              <a class="nav-link" routerLink="/History" routerLinkActive="active"><div>HISTORY</div></a>
          </li>
          <li class="nav-item" class="profile">
              <a class="nav-link" routerLink="/Profile" routerLinkActive="active"><div>PROFILE</div></a>
          </li>
          <li class="nav-item" class="other">
            <a class="nav-link" (ngSubmit)="logout()" routerLink="/Login" routerLinkActive="active"><div>LOG OUT</div></a>
        </li>
        </ul>
      </div>
    </nav>
</div>