.primary-color{
    background-color: #8fcfd1;
}

.navbar-brand{
    background-color: #2AABE4;
    padding: 10px;
    border-radius: 15px;
}
.profile {
    margin-left: 800px;
}
.other {
    margin-left: 20px;
}